@charset "utf-8";

body {

      margin: 0;
      overflow-x: hidden;
      
}

img {
    max-width: 800px;
}

div {
    text-align: center;
}

footer {
    padding-top: 20px;
}

.sobre-img img {
  width: 100%;
  
}

img {
    width: 100%;
}

.covske-footer {
    color: black;
}

h1, h2, p {
    text-align: center;
    
}

.container-iframe {
  display: flex;
  justify-content: center;
}

.container-iframe iframe {
  border: none;
  width: 270px;
  height: 200px;
}




.latex {
    max-width: 400px;
    margin: auto;
}



      
